/* General page style */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(245 51 245 / 100%);
  color: #333333;
  margin: 0;
  padding: 0;
}

/* Header styling */
header {
  background-color: rgb(0, 122, 204);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

/* Paragraphs and links */
p {
  margin: 1rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
