/* General page style */
body {
  font-family: Arial, sans-serif;
  background-color: #194cf5ff;
  color: rgb(51 51 51);
  margin: 0;
  padding: 0;
}

/* Header styling */
header {
  background-color: rgb(0 230 25);
  color: white;
  text-align: right;
  padding: 1rem 0;
}

/* Paragraphs and links */
p {
  margin: 1rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
